.your-music-song-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
}
.your-music-song-text-container {
  display: flex;
  align-items: center;
}
.your-music-song-image {
  width: 80px;
  border-radius: 8px;
  height: 80px;
  margin-right: 20px;
}
.your-music-song-name {
  color: #ffffff;
  font-size: 18px;
}
.your-music-song-artist {
  color: #bbbec4;
  font-size: 12px;
}
.song-duration {
  margin-right: 240px;
  color: #bbbec4;
}
